[Unit]
Description=Update User SSH Keys
ConditionVirtualization=wsl

[Service]
ExecStartPre=rm -f %h/.1password/agent.sock
ExecStart=socat UNIX-LISTEN:%h/.1password/agent.sock,fork EXEC:"/mnt/c/Users/Aurelia/scoop/shims/npiperelay.exe -ei -s //./pipe/openssh-ssh-agent",nofork
Type=simple

[Install]
WantedBy=default.target
