local wezterm = require 'wezterm'
local config = {}

{{ with findOneExecutable (list "fish") (list
    "/Users/aurelia/.nix-profile/bin/"
    "/home/aurelia/.nix-profile/bin/")
-}}
config.default_prog = { '{{ . }}', '-l' }
{{- end }}

config.color_scheme = 'Fairyfloss'
config.hide_tab_bar_if_only_one_tab = true

config.font = wezterm.font 'TX-02'
config.font_size = 10

return config
